/* desktop first */

* {
    box-sizing: border-box;
}

:root {
    direction: rtl;
    font-family: 'Noto Sans Hebrew', sans-serif;
    --floating-padding: 50px;
}

body {
    margin: 0;
    overflow: overlay;
}

/* site padding & size */
body>div {
    width: 100vw;
    height: 100vh;
    padding: 10vh 20vw 10vh 20vw;
}



/* ------------ general design • start ------------ */
/* backgrounds */
.background-grey {
    background-color: hsl(0, 0%, 90%);
}

.background-black {
    background-color: hsl(0, 0%, 0%);
}

.background-yellow {
    background-color: #FFEC2E;
}

.background-white {
    background-color: white;
}

.background-img {
    background-size: cover;
}


/* text */
.color-grey {
    color: hsl(0, 0%, 30%);
}

.color-yellow {
    color: #FFEC2E;
}

.color-white {
    color: white;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}


/* display */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;

}

.gap {
    column-gap: 1rem;
    row-gap: 1rem;
}

.grid4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid2 {
    grid-template-columns: repeat(2, 1fr);
}

.hide-desktop {
    display: none;
}

.hide-tab {
    display: block;
}

.hide-mobile {
    display: block;
}

/* others */
.basic-div {
    width: 100vw;
    height: 100vh;
    padding: var(--floating-padding);
}

.padding-height {
    padding: 1rem;
    height: 100%;
}

h2 {
    font-size: 3rem;
    letter-spacing: 0.4rem;
    margin: 1rem 0;
    line-height: 1.1;
}

h2:before {
    content: '[ ';
}

h2:after {
    content: ' ]';
}

.width100 {
    width: 100%;
}

a {
    text-decoration: none;
}

/* ------------ general design • end ------------ */





/* ------------ floating design • start ------------ */

/* border */
.border-top-out {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 1%;
    padding: var(--floating-padding) var(--floating-padding) 0 var(--floating-padding);
    left: 0;
}

.border-top {
    border-top: 3px solid #FFEC2E;
}

.border-bottom-out {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 1%;
    padding: 0 var(--floating-padding) calc(var(--floating-padding) + 3px) var(--floating-padding);
    left: 0;
    bottom: 0;
}

.border-bottom {
    border-bottom: 3px solid #FFEC2E;
}

.border-right-out {
    position: fixed;
    z-index: 1;
    width: 1%;
    height: 100vh;
    padding: var(--floating-padding) var(--floating-padding) var(--floating-padding) 0;
    right: 0;

}

.border-right {
    height: 100%;
    border-right: 3px solid #FFEC2E;
}

.border-left-out {
    position: fixed;
    z-index: 1;
    width: 1%;
    height: 100vh;
    padding: var(--floating-padding) 0 var(--floating-padding) calc(var(--floating-padding) + 3px);
    left: 0;

}

.border-left {
    height: 100%;
    border-left: 3px solid #FFEC2E;
}

/* logo */
#logo {
    position: fixed;
    width: 100px;
    z-index: 1;
    top: 80px;
    right: 80px
}

.logo-center {
    width: 40vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.nav-mobile {
    position: fixed;
    z-index: 5;
    top: 9vh;
    left: 50%;
    transform: translate(-50%, 0);
}

.nav-mobile-bar {
    border-radius: 50%;
    border: 0;
    width: 70px;
    height: 70px;
}

.nav-mobile-bar i {
    font-size: 2rem;
}



/* nav bar */
.nav-out {
    position: fixed;
    z-index: 2;
    width: 100vh;
    padding: var(--floating-padding) var(--floating-padding) 0 var(--floating-padding);
    left: 0;
    top: 0;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%);
}

nav {
    background-color: #FFEC2E;
    width: 100%;
    height: 40px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

nav ul li {
    display: flex;
    height: 40px;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    line-height: 1rem;
    justify-content: center;
    transition: all 0.2s;
}


/* nav bar: hover */
nav ul li:hover {
    background-color: #686868;
}

nav ul li a:link {
    color: hsl(0, 0%, 30%);
}

nav ul li a:visited {
    color: hsl(0, 0%, 30%);
}

nav ul li:hover a {
    color: white;

}

/* nav bar: dropdown */
.dropdown-content {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    padding: var(--floating-padding);
    transform-origin: top left;
    transform: rotate(90deg) translate(40px, -100%);
}

.dropdown-content ul {
    background-color: hsla(0, 0%, 0%, 0.3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul ul li {
    color: white;
    width: 100%;
    flex-grow: 0.1;
    border: 2px 0;
    border-color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ------------ floating design • end ------------ */








/* landing • start */
#landing {
    background-image: url("images/background.png");
    background-attachment: fixed;
}

/* landing • end */




/* categories • start */
.category {
    position: relative;
    overflow: hidden;
}

.category img {
    transition: all 0.5s;
}

.category h3 {
    position: absolute;
    top: 100%;
    transform: translate(0, -100%);
    background-color: black;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #686868;
    margin: 0;
    transition: all 0.5s;

}

.category:hover {
    outline: 3px solid #FFEC2E;
}

.category:hover h3 {
    color: #FFEC2E;
    background-color: hsla(0, 0%, 0%, 0.8);

}

.category:hover img {
    transform: scale(1.2);
}

/* categories • end */




/* tips • start */

.tip {
    border: 2px solid #FFEC2E;
}

.title-tip {
    min-width: 80px;
    max-width: 10vw;
}

/* tips • end */





/* favorits • start */

.favorifs-card {
    position: relative;
    overflow: hidden;
}

.favorifs-card img {
    opacity: 0.5;
    filter: grayscale(80%);
    transition: all 0.5s;
}

.stars {
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translate(50%, -5rem);
    color: #686868;
    transition: all 0.5s;
    flex-direction: row-reverse;
}

.stars i {
    margin: 1px;
}

.favorifs-card h4 {
    position: absolute;
    top: 100%;
    transform: translate(0, -100%);
    background-color: black;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #686868;
    margin: 0;
    transition: all 0.5s;

}

.favorifs-card:hover img {
    transform: scale(1.3);
    filter: grayscale(5%);
    opacity: 1;
}

.favorifs-card:hover h4,
.favorifs-card:hover .stars {
    color: #FFEC2E;
}

/* favorits • end */




/* share • start */

#share {
    background-image: url(images/background.png);
    background-attachment: fixed;

}

.sharename {
    width: 70%;
    font-size: 2rem;
}

#share .sharemassege {
    margin: 0;
    padding: 0 1rem;
    text-align: justify;
}

.radio-group {
    padding: 1rem 0;
}

#share .btn-radio {
    font-size: 1.5rem;
    margin: 0 0.3rem 0 0;
}

.btn-activ {
    color: #a49600;
}

/* share • end */



/* contact • start */
#contact {
    justify-content: space-between;
}

.flex3 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 3;
}

.flex1 {
    flex: 1;
}

#contact h2 {
    padding-left: 1rem;
}

#contact h2::before,
#contact h2::after {
    content: '';
}

#contact form {
    width: 100%;
    padding: 1rem;
}

#contact form input,
textarea {
    width: 100%;
    border-width: 0 0 1px 0;
    border-color: hsl(0, 0%, 90%);
    font-family: 'Noto Sans Hebrew', sans-serif;
    padding: 0.5rem;
}

#contact form textarea {
    height: 6rem;
    resize: none;
}

#contact form input:focus,
textarea:focus {
    outline: none;
    background-color: hsl(0, 0%, 98%);

}

#contact form ::placeholder {
    color: hsl(0, 0%, 80%);
}

#contact .submit,
.submit>input {
    border: 0;
    background-color: hsla(0, 0%, 100%, 0);
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
}

#contact .submit {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit img {
    height: 1.5rem;
}

/* contact • end */




/* footer • start */

footer {
    padding: 2vh 20vw 5vh 20vw;
}

.credit {
    height: 20px;
    margin: 1rem;
}

#footer p {
    font-size: 1rem;
}

/* footer • end */








/* ------------ recipe page • start ------------ */

#recipe {
    background-image: url(images/background.png);
    position: fixed;
    z-index: -1;
}

.background-dark-recipe {
    height: 100%;
    width: 70vw;
    background-color: hsla(0, 0%, 0%, 0.8);
    background-blend-mode: multiply;

}

.information {
    justify-content: center;
    margin: 2rem 0 1rem 0;
}

.information ul {
    font-size: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.information ul li {
    display: flex;
    padding: 1rem;
}

.information ul li i {
    margin-left: 0.5rem;
}

.recipe-in {
    padding: 0 10vw;
    column-gap: 1rem;
    align-items: flex-start;
}

#ingredient,
#making {
    flex: 1;
    padding: 1.5rem;
    height: 100%;
}

#making ol li {
    text-align: justify;
}


/* ------------ recipe page • end ------------ */




/* ------------ category page • start ------------ */
#grid-page {
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "aside main";
    padding: calc(var(--floating-padding) + 1rem) calc(var(--floating-padding) + 1rem) calc(var(--floating-padding) + 1rem) calc(var(--floating-padding) + 1rem + 40px);
}

aside {
    height: 100%;
    grid-area: aside;
}

main {
    height: 100%;
    grid-area: main;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

main a {
    background-color: hsla(0, 0%, 0%, 0.6);
}

.area1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.area2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.area3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.area4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.area5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.area6 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.area7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.area8 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.area9 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

/* ------------ category page • end ------------ */






/* ------------ Responsiveness • start ------------ */
@media only screen and (orientation: portrait) {
    .hide-desktop {
        display: block;
    }

    .hide-tab {
        display: none;
    }

    .hide-mobile {
        display: none;
    }

    body>div {
        width: 100vw;
        height: auto;
        padding: 10vh 20vw 10vh 20vw;
    }

    .grid4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid2 {
        grid-template-columns: 1fr;

    }

    #contact {
        flex-direction: column;
    }

    #contact h2 {
        padding-left: 0rem;
        text-align: center;
    }

    #contact .flex3 {
        justify-content: center;
    }

    #contact .submit {
        margin-top: 1vh;
    }


    /* recipe */
    /* comming soon.... */





    /* category */
    #grid-page {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
        grid-template-areas: "aside" "main";
        padding: calc(var(--floating-padding) + 1rem);
    }

    main {
        grid-template-columns: repeat(2, 1fr);
    }

    .area1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .area2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .area3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .area4 {
        display: block;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .area5 {
        display: block;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

}


@media screen and (max-width: 600px) {
    .hide-desktop {
        display: block;
    }

    .hide-tab {
        display: none;
    }

    .hide-mobile {
        display: none;
    }


    body>div {
        width: 100vw;
        height: auto;
        padding: 20vh 20vw 10vh 20vw;
    }

    .grid4 {
        grid-template-columns: 1fr;
    }

    h2 {
        font-size: 2.2rem;
        letter-spacing: 0.3rem;

    }

    .category,
    .favorifs-card {
        max-height: 25vh;
    }

    #contact {
        flex-direction: column;
    }


    /* recipe */
    /* comming soon.... */




    /* category */
    main {
        grid-template-columns: 1fr;
        grid-auto-rows: 5;
    }

    .area1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .area2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .area3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

}